/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

body {
	background-image: linear-gradient(#c6ffdd, #fbd786, #f7797d);
	background-attachment: fixed;
}

.row {
	height: 90vh;
}

.container {
	padding-top: 50px;
}

.app_sidebar {
	background-color: #fff;
	height: 100%;
	border-radius: 20px;
	padding: 25px 15px;
	box-shadow: 0 0 10px black;
}

.app_main-content {
	background-color: #fff;
	border-radius: 20px;
	padding: 25px 15px;
	box-shadow: 0 0 10px black;
}
