/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

body {
	background-image: linear-gradient(#c6ffdd, #fbd786, #f7797d);
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: #354548;
}
a:hover {
	text-decoration: none;
	color: black;
}

.app_row {
	height: 90vh;
}

.app_container {
	padding-top: 50px;
}

.app_main-content {
	background-color: #fff;
	border-radius: 20px;
	padding: 25px 15px;
	box-shadow: 0 0 10px black;
}

/* sidebar */

.sidebar {
	background-color: #fff;
	height: 100%;
	border-radius: 20px;
	padding: 25px 15px;
	box-shadow: 0 0 10px black;
}

.sidebar_icon {
	width: 25px;
	height: 25px;
}

.sidebar_name {
	font-family: Kaushan Script;
	margin: 20px 0;
}

.sidebar_item {
	margin-bottom: 6px;
	padding-top: 6px;
	height: 40px;
	font-size: 1.0rem;
	border-radius: 30px;
}

.sidebar_title {
	background-color: #f1f1f1;
	border-radius: 10px;
}

.sidebar_contact {
	background-color: #f1f1f1;
	padding: 2px 0;
}

.sidebar_email_me {
	background-image: linear-gradient(to right bottom);
	border-radius: 30px;
	color: rgb(243, 243, 245);
	margin: 15px 25px 0px;
	cursor: pointer;
	transition: all;
	background: rgb(156, 194, 134);
}

.sidebar_email_me:hover {
	transform: scale(1, 2);
}

/* NavbAr */

.navbar_items {
	display: flex;
}

.navbar_active {
	font-size: 2rem;
	font-weight: 700;
	color: rgb(8, 8, 8);
	border-bottom: 4px solid #c26f49;
}

.navbar_item {
	margin-right: 20px;
	text-decoration: none;
	color: #354358;
	font-size: 1.3res;
	cursor: pointer;
}

.navbar_item:hover {
	background-color: -webkit-linear-gradient(#ca693d, #f7797d);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: teal;
}

/* about */

.about {
	padding: 20px;
}

.about_intro {
	font-size: 1.1rem;
	padding: 20px;
	margin: 10px 0;
}

.about_container {
	background-color: #fbd786;
	padding: 30px 20px;
}
.about_heading {
	font-size: 25px;
	font-weight: 700;
	color: black;
	margin-left: 10px;
}

/* Skill-card */

.skill-card {
	background-color: white;
	margin: 15px;
	padding: 15px;
	display: inline-flex;
	flex-direction: row;
	border-radius: 15px;
}

.skill-card_icon {
	width: 80px;
	height: 80px;
}

.skill-card-body {
	margin-left: 10px;
}
.skill_card_content {
	margin: 15;
	font-size: 0.9rem;
	color: black;
	font-style: italic;
	text-align: center;
}

/* Resume */

.resume {
	padding-top: 20px;
}
.resume-card_heading,
.resume-language_heading {
	margin-left: 10px;
	font-size: 1.8rem;
	font-weight: 700;
	color: #354538;
}

.resume-card_body {
	margin-top: 10px;
}

.resume-card_title {
	font-weight: 700;
}
.resume-card_name {
	font-size: 16px;
}

.resume-card_details {
	font-size: 0.9rem;
	padding-top: 20px;
}

/* bar */

.bar {
	width: 90%;
	background-color: #72d177;
	border-radius: 20px;
	margin-bottom: 12px;
}

.bar_icon {
	width: 15px;
	height: 15px;
}

.bar_wrapper {
	background-image: linear-gradient(90deg, #d2e091, #dc9989);
	border-radius: 20px;
	padding: 4px 14px;
	color: #fff;
	font-size: 0.9rem;
}

/* project.js */

.projects {
	height: 72vh;
	padding-top: 30px;
	overflow-y: auto;
}

.projectCard_wrapper {
	margin: 10px 0;
	width: 100%;
	height: 100%;
	min-height: 100px;
}

.projectCard_image {
	width: 100%;
	height: 80%;
	border-radius: 30px;
	border: 1px solid rgb(145, 230, 111);
	transition: transform 0.3s linear;
}
.projectCard_image:hover {
	transform: scale(1.05);
}

.projectCard_icon {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.projectCard_title {
	margin-top: 12px;
	font: size 1rem;
	display: flex;
	align-items: canter;
	justify-content: center;
}

.projects_navbar {
	display: flex;
	margin-bottom: 5px;
}

.projects_navbar > div {
	margin: 0 5px;
	font-size: 1 rem;
	cursor: pointer;
}
